

.overview_card-info {
   
    margin-left: 25%;
     font-size: larger;
 } 


 .overview_card{
    height: 200px;
 }

 /* TODO: Make it such that right card take up like 2/3rds of the space FIXED*/
 /* TODO on mobie screens, for this page only, make sure cards wrap FIXED*/
 #mainCardRight{
 
 }

 .datepicker td, .datepicker th {
  width: 1.5em;
  height: 1.5em;
}


 .main_cards {
    margin: 10px;
    display: grid;
    /* grid-template-columns:  1fr;
    grid-template-rows:  250px 250px ; */
    
    grid-gap: 10px;
  }

 @media only screen and (min-width: 750px) {
   
    .main_cards {
     
      /* grid-template-areas:
        'card1' 'card1'
        'card2' 'card3'; */
        
    } 

    /* define organization  */
    #card1{
        grid-row: 1;
        grid-column: 1 / 4;
        display: grid;
    }

    #card2{
        grid-row: 2;
        grid-column: 1 / 2;
        display: grid;
        position: relative;
    }

    #card3{
        grid-row: 2;
        grid-column: 2 / 4;
        display: grid;
    }
    


    .subcard{
        display: flex;
       justify-self: left;
    }

    .leftItem{
        display: flex;
        margin-right: 8rem;
      
    }

    .rightItem{
        display: flex;
      
    }

  

  }
  

  .left_card {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: seagreen; */
    height: 100px;
    border: 1px solid darkblue;
    border-radius: 4px;
    color: darkblue;
  }


  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content{
    grid-row-end: 1;
   }

  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


   