


 @media only screen and (min-width: 750px) {
   
    .grid-container {
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 50px 1fr 50px;
        grid-template-areas:
          'aside header'
          'aside main'
          'aside footer';
        height: 100vh;
      }

    .main_cards {
        margin: 10px;
        display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 600px;
        grid-template-areas:
     'card1'
     'card1';
        grid-gap: 10px;
        height: auto;
      }

      /* .card {
        
      } */


   
    
  }

  body{
    font-size: small;
  }

  .topCard{
    
    display: flex;
    background-color: blueviolet;
    width: 7rem;
  }


  #ProjectHeader{
    border: none;
  }





 .d-flex {
    background-color: blue;
    display: flex;
    justify-content: space-between;
  }
  
  p {
    /* background-color: red; */
  }


  @media only screen and (min-width: 750px) {
.UserProjectsContainer{
  
  display: flex;
  justify-content:center;
  
  
}

  .listSub1{
    width: 50%;
    padding-top: 0rem;
    /* padding-left: 3rem;
    */
  }

  .listSub2{
    width: 30%;
    padding-top: 0rem;
    /* padding-left: 3rem; */
  }

  .listSub3{
    width: 30%;
    padding-top: 0rem;
    /* padding-left: 3rem; */
  }

  .listSub4{
    width: 30%;
    padding-top: 0rem;
    /* padding-left: 3rem; */
  }

.list-group-item{
  height: 7rem;
  /* padding-left: 7rem;
  padding-right: 7rem; */
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.listSubMobile{
  visibility:hidden;
}


.listSub1 a{
  line-height: 3em;
  height: 6em;   
  width: 40rem;    /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */
}

.listSub2 a, .listSub3 a, .listSub4 a {
  line-height: 3em;
  height: 6em;   
  width: 25rem;    /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */
}

}

.listSub4 button {
  line-height: 3em;
  height: 3em;   
  width: 25rem;    /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */
}


@media only screen and (max-width: 749px){

img{
  width: 50%;
}

/* TODO create section here for add project button  */
  #card01 {
    padding: 3px;
  }

.listSub1, .list-sub2, .list-sub3, .list-sub4{
  padding: 2rem;
}

.listSub1{
  visibility:hidden;
}

.listSub2{
  visibility:hidden;
}

.listSub3{
  visibility:hidden;
 }

 .listSub4{
  visibility:hidden;
 }

}