body {
    background-color: #2A9D8F;
    font-size: 16px;
    font-family: 'Actor';
}

.main_cards, .card, .grid-container, .main{
    background-color: #264653
}

/* #footer, #footersub1, #footersub3{
    background-color: #E76F51;
} */

/* .img-fluid {
    width: 90%;
    height: 90%;
} */

.bg-black {
    background-color: #E76F51
    /* here */
}

.navbar-brand {
    padding: 11px 20px
}

.active {
    background-color: blue
}

.navbar-nav {
    width: 100%
}

.nav-link {
    color: #fff !important
}

.nav-item {
    padding: 6px 12px;
    text-align: center
}

.nav-item:hover {
    background-color: blue
}

.right {
    margin-left: auto
}

.navbar-collapse.collapse.in {
    display: block !important
}

@media only screen and (max-width: 749px){
    .right {
        margin-left: 0
    }

    .nav-item {
        width: 100%;
        text-align: left
    }


    #footersub1{
        background-color: #264653;
    }

    .img-fluid {
        width: 60%;
        height: 90%;
    } 

}

@media only screen and (min-width: 750px){
  
}


canvas{
    max-height: 90%;
}

.main_cards{
    height: 80%;
    
}


