body {
    background-color: #2A9D8F;
    font-size: 16px;
    font-family: 'Actor';
}

.main_cards, .card, .grid-container, .main{
    background-color: #264653
}

/* #footer, #footersub1, #footersub3{
    background-color: #E76F51;
} */

.img-fluid {
    width: 90%;
    height: 90%;
}

.bg-black {
    background-color: #E76F51
    /* here */
}

.navbar-brand {
    padding: 11px 20px
}

.active {
    background-color: blue
}

.navbar-nav {
    width: 100%
}

.nav-link {
    color: #fff !important
}

.nav-item {
    padding: 6px 12px;
    text-align: center
}

.nav-item:hover {
    background-color: blue
}

.right {
    margin-left: auto
}

.navbar-collapse.collapse.in {
    display: block !important
}

@media (max-width: 992px) {
    .right {
        margin-left: 0
    }

    .nav-item {
        width: 100%;
        text-align: left
    }
}


canvas{
    max-height: 90%;
}

.main_cards{
    height: 100%;
    
}

.card{
    height: 50vh;
}


#card02{
    top: 0rem;
}


.main_cards {
    width: 95%;
    margin: 10px;
    display: grid;
    /* grid-template-columns: 2fr 2fr; This line caused many problems */
    grid-template-rows: 200px 200px;
    grid-template-areas:
      'card1 card2'
      'card1 card2'
      'card3 card3';
    grid-gap: 10px;
  }



/* For scroll bar */
/* body::-webkit-scrollbar {
    width: 0.55rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #2A9D8F;
  } */

